.header {
  justify-content: space-around;
  background-color: var(--preto);
  color: #ffffff;

  width: 92%;
  height: 64px;

  .container__button {
    display: flex;
    gap: 16px;

    button {
      font-family: "Roboto", sans-serif;
    }
    .menu__cadastrase {
      background-color: var(--roxo);
      font-weight: 500;
    }
    .menu__login {
      border: 0.1rem solid var(--roxo);
      color: var(--roxo);

      padding: 16px 24px 16px 24px;
    }
  }
}
