<h1>Promoções</h1>
<div class="card__container__viagens">
  <mat-card class="card__viagem">
    <img
      src="/assets/imagens/Atacama.svg"
      alt="Imagem fazendo referência da cidade de Atacama"
    />
    <mat-card-content>
      <h2>Atacama</h2>
      <p>R$ 500</p>
      <button mat-button class="button">VER DETALHES</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card__viagem">
    <img
      src="/assets/imagens/Veneza.svg"
      alt="Imagem fazendo referência da cidade de Veneza"
    />
    <mat-card-content>
      <h2>Veneza</h2>
      <p>R$ 500</p>
      <button mat-button class="button">VER DETALHES</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card__viagem">
    <img
      src="/assets/imagens/Patagonia.svg"
      alt="Imagem fazendo referência a Patagonia"
    />
    <mat-card-content>
      <h2>Patagonia</h2>
      <p>R$ 500</p>
      <button mat-button class="button">VER DETALHES</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card__viagem">
    <img
      src="/assets/imagens/Grand Canyon.svg"
      alt="Imagem fazendo referência ao Grand Canyon"
    />
    <mat-card-content>
      <h2>Grand Canyon</h2>
      <p>R$ 500</p>
      <button mat-button class="button">VER DETALHES</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card__viagem">
    <img
      src="/assets/imagens/Turquia.svg"
      alt="Imagem fazendo referência ao Pais da turquia"
    />
    <mat-card-content>
      <h2>Turquia</h2>
      <p>R$ 500</p>
      <button mat-button class="button">VER DETALHES</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card__viagem">
    <img
      src="/assets/imagens/Cordilheira dos Andes.svg"
      alt="Imagem fazendo referência as Cordilheiras dos Andes"
    />
    <mat-card-content>
      <h2>Cordilheira dos Andes</h2>
      <p>R$ 500</p>
      <button mat-button class="button">VER DETALHES</button>
    </mat-card-content>
  </mat-card>
</div>
