<app-header></app-header>
<app-banner></app-banner>
<div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <figure>
    <img src="/assets/imagens/img-footer.svg" alt="" />
  </figure>

  <div class="footer__contato">
    <div class="contato__horario">
      <figure>
        <img src="/assets/imagens/logo2.svg" alt="Logo com nome jornada" />
      </figure>
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>

    <div class="contato__redessociais">
      <p>Acesse nossas redes:</p>
      <div>
        <figure>
          <img src="/assets/imagens/whats.svg" alt="Logo do whatsapp" />
        </figure>

        <figure>
          <img src="/assets/imagens/instan.svg" alt="Logo do whatsapp" />
        </figure>

        <figure>
          <img src="/assets/imagens/twiter.svg" alt="Logo do whatsapp" />
        </figure>
      </div>
    </div>
  </div>
</div>
