.depoimentos__container {
  padding-bottom: 16px;

  div {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    mat-card {
      background-color: var(--roxo-claro);
      border: none;
      box-shadow: none;

      mat-card-content {
        display: flex;
        align-items: start;
        gap: 16px;

        div {
          display: flex;
          flex-direction: column;

          p:last-child {
            font-weight: 500;
            font-size: 1em;
          }
        }
      }
    }
  }
}
